<!DOCTYPE html>
<html>
<head>
	<title>Mike Lyons - Software Engineer</title>
	<%= stylesheet_link_tag		"http://fonts.googleapis.com/css?family=Shanti" %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= yield :page_includes %>
</head>
<body>
	<div id="body" data-no-turbolink>
		<div id="menu_area">
			<div class="title" id="name">
				M<a id="i">i</a>ke Lyons  
			</div>
			<div id="menu">
				<% current_page = yield(:current_page) %>
				<a class="nav_link" href="http://blog.mikelyons.org">
					Blog
				</a>
				<%= link_to "About Me", about_path, id: "aboutme", class: "nav_link" + ((current_page == "about")? " nav_link_selected color2" : "") %>
				<%= link_to "Projects",	projects_path, id: "projects", class: "nav_link"+ ((current_page == "projects")? " nav_link_selected color2" : "") %>
				<%= link_to "Contact",	contact_path, id: "contact", class: "nav_link"+ ((current_page == "contact")? " nav_link_selected color2" : "") %>
			</div>
		</div>
		<div id="content_area">
			<%= yield %>
		</div>
		<div id="ibox" class="content">
			Renee is awesome
		</div>
	</div>
</body>
</html>